 
    <div class="movieList" ng-controller="Movies" >
    
    <div class="movieList-header">
        <h3>Movie List</h3>
    </div>

    <div class="movieList-body">
     
        <ul *ngFor="let movie of movieList" 
            class="list-group-item" 
            [class.active]="movie == selectedMovie"
            >
                {{movie.id}} - {{movie.tittle}}
                       
            <div class="buttons">
                <button (click) = "callRouteDetail(movie.id)"  class="buttonDetail">Detail</button>
                <button (click) = "callRouteEdit(movie.id)"   class="buttonEdit">Edit</button>             
            </div> 
        </ul> 
      
    </div>        
    
    <div class="movieList-footer"> 
        <button (click) = "callRouteAddMovie()" class="buttonAdd" type="button"> Add movie </button>
    </div>

    </div>
    <section>
        <router-outlet></router-outlet>
    </section>  



                             
                            
                           