
.movieList{
    width: 100%;
    margin-top: 12%;
    font-size: 18px;
    border: solid 1px #000000;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.movieList-header{
    height: 20%;
    text-align: center;
}
    h3{
        padding-top:2%;
        color: whitesmoke;
    }

.movieList-body {
    margin-left: 5%;
    width: 90%;
    border-top: solid 1px #000000;
}

.movieList-footer{
    width: 80%;
    height: 10%;
    text-align: center;
}

.list-group-item{
    height: 15%;

}

.buttons{
    float: right;
    color: lightgray;
}

    .buttonDetail{
        background-color: rgb(122, 219, 122);
        border-color: rgb(122, 219, 122); 
        margin-right: 10px;
    }

    .buttonEdit{
        background-color: rgb(112, 164, 243);
        border-color: rgb(112, 164, 243);
        margin-right: 2px;
    }

    .buttonType{
        background-color: rgb(235, 90, 90); 
        border-color: rgb(235, 90, 90);
        margin-right: 5px;
    }
    .buttonAdd{
        background-color: lightgray ;
        border-color: lightgray; 
        margin-top: 3%; 
        margin-left: 25%;
        margin-bottom: 3%;
    }

