* {
    text-align: center;
}

body{
    background-color: lavenderblush;
}

.hidden{
    display: none;
}

#btn{
    margin-left: 5px;
    width: 150px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}